.header-Sanstha{
    color: red;
}
.Abouts-header{
    margin-top: -17px;
    font-size: xx-large;
    font-weight: 900;
    font-family: system-ui;
}
.Abouts-div{
    /* text-align: center */
}
.Abouts-header-hr{
    margin-right: 88%;
    margin-left: 0%;
    border: 3px solid red;
    margin-top: -19px;
}
.Abouts-main-div{
    background-color: white;
    width: 203px;

}
.abouts-div{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    height: 100%;
    width: 100%;
}
.card-Abouts{
    /* margin: 17px; */
    height: 100%;
    padding: 21px;
}
.card-ace-img{
  width: 100%!important;
  height: auto;
}
.card-Abouts .ant-card-cover{
    padding: 10px;
}
.Abouts-LEARN-button{
    color: white;
    background-color:  #f20000;
    font-size: 12px;
}
.center-button{
    float: left;
    margin-top: 12px;
}
.full-cover-image{
    width: 100%;
    height: auto;
    /* background-image: linear-gradient(to black),url("../../Image/welcome-bg-mdpi.png"); */
    /* background-blend-mode: screen; */
   /* background-image: url("../../Image/welcome-bg-mdpi.png"),; */
    background-color: #100e0e;
    background-image: url("../../Image/welcome-bg-mdpi.png");
    background-blend-mode: soft-light;
    background-repeat: no-repeat;
    background-size: cover;
}
.Abouts-main{
    background-color: white;
}
.bg-dark{
    background-color: #160f0f;
}